<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List orders detail</title>
</head>
<body>
<h3>List orders detail</h3>
<table border="1">
    <tr>
        <td>Order date:</td>
        <td>Customer name:</td>
        <td>Customer email:</td>
        <td>Customer phone number:</td>
        <td>Customer address:</td>
        <td>Amount:</td>
    </tr>
    <th:block  th:each = "od : ${orderDetails}">
        <tr>
            <td th:text="${od.order.orderDate}"></td>
            <td th:text="${od.order.customerName}"></td>
            <td th:text="${od.order.customerEmail}"></td>
            <td th:text="${od.order.customerPhone}"></td>
            <td th:text="${od.order.customerAddress}"></td>
            <td th:text="${od.amount}" style="color: green"></td>
            <td><a th:href="@{/order-detail/detail/__${od.id}__}">View</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>